absl-py==0.9.0
astor==0.8.1
bleach==1.5.0
certifi==2019.11.28
chardet==3.0.4
docopt==0.6.2
gast==0.3.2
grpcio==1.26.0
h5py==2.10.0
html5lib==0.9999999
idna==2.8
Keras==2.1.5
Markdown==3.1.1
mwapi==0.5.1
mwparserfromhell==0.5.4
mysqlclient==1.4.2.post1
nltk==3.4.5
numpy==1.18.0
pkg-resources==0.0.0
protobuf==3.11.2
psutil==5.6.7
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.4
requests==2.22.0
scipy==1.4.1
six==1.13.0
tensorboard==1.7.0
tensorflow==1.7.0
termcolor==1.1.0
urllib3==1.25.7
Werkzeug==0.16.0
